<main>
    <table>
        <caption><b>Лучшие фильмы с участием Райана Гослинга</b></caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Год выхода</th>
                <th>Режиссер</th>
                <th>Оценка на томатах</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Drive</td>
                <td>2011</td>
                <td>Николас Виндинг Рефн</td>
                <td>93%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>La La Land</td>
                <td>2016</td>
                <td>Демиен Шазель</td>
                <td>91%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>The nice guys</td>
                <td>2016</td>
                <td>Шейн Блэк</td>
                <td>91%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Half Nelson</td>
                <td>2006</td>
                <td>Райан Флек</td>
                <td>91%</td>
            </tr>
            <tr>
                <td>5</td>
                <td>The Big Short</td>
                <td>2015</td>
                <td>Адам МакКей</td>
                <td>89%</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Blade Runner 2049</td>
                <td>2017</td>
                <td>Дени Вильнёв</td>
                <td>88%</td>
            </tr>
        </tbody>
    </table>
</main>