<header>
    <div class="logo_text">
        <h1><a href="#">Войдите</a></h1>
        <h2><sup>12 менеджеров на одного разработчика == чистый профит</sup></h2>
    </div>

    <nav>
        <ul class="menu">
            <li id="li1"><a type="menuPoint" name="index" href="/">Это я</a></li>
            <li id="li2"><a type="menuPoint" name="content2" href="/table">Таблица</a></li>
            <li id="li3"><a type="menuPoint" name="interactiveList" href="/tasks">Задачи</a></li>
        </ul>
    </nav>
</header>